*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky; /* Make navbar sticky */
    top: 0px; /* Stick to the top of the viewport */
    z-index: 5000; /* Ensure it's above other content */

}

.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
    
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.7rem;
    margin-left: 15px;
}

.addlogo{
    display: flex;
}

.add-sec{
    margin-left: 3px;
}

.searchbar{
    height: 40px;
    width: 800px;
    background-color: rgb(203, 203, 248);
    display: flex;
    border-radius: 4%;
    justify-content: space-evenly;
    
}

.select{
    border: none;
    width: 50px;
    background-color: #e6e6e6;
    text-align: center;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;

}

.searchtext{
    border: none;
    width: 100%;
    font-size: 1rem;
    padding-left: 5px;
}

.searchicon{
    display: flex;
    width: 45px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ff9900;
    color: #0f1111;
    font-size: 1.2rem;
}

.searchbar:hover{
    border:2px solid #ff9900;
}

.lang{
    display: flex;
}

.langt{
    background-color: #0f1111;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 14px;
}


span{
    font-size: 0.8rem;
    margin-left: 2px;
}

.signinacc{
    font-size: 0.87rem;
    background-color: #0f1111;
    color: white;
    font-weight: bold;
    border: none;
}

.orders{
    font-weight: bold;
}

.cart i{
    font-size: 25px;
}

.cart{
    font-size: 0.88rem;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.panelops p{
    display: inline;
    margin-right: 20px;
}

.panelops{
    font-size: 0.9rem;
    width:80%
}

.shop{
    font-weight: 600;
}

.hero{
    height: 380px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
   
}

.herom{
    height: 40px;
    width: 1450px;
    font-size: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.herom a{
    color: blue;
}
 
.content{
    height: 440px;
    background-color: #e2e7e6;
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 380px;
    width: 340px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}


.img1{
    height: 300px;
    background-image: url(box1_image.jpg);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 15px ;
}

.box1c{
    margin-left: 13px;
    margin-right: 13px;
}

.co{
    color: blue;
}

.hu:hover{
    text-decoration: underline;
}

.img2{
    height: 300px;
    background-image: url(box2_image.jpg);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 15px ;
}

.img3{
    height: 300px;
    background-image: url(box3_image.jpg);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 15px ;
}

.img4{
    height: 300px;
    background-image: url(box4_image.jpg);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 15px ;
}

.content2{
    height: 460px;
    background-color: #e2e7e6;
    display: flex;
    justify-content: space-evenly;
}

.img5{
    height: 300px;
    background-image: url(box5_image.jpg);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 15px ;
}

.img6{
    height: 300px;
    background-image: url(box6_image.jpg);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 15px ;
}

.img7{
    height: 300px;
    background-image: url(box7_image.jpg);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 15px ;
}

.img8{
    height: 300px;
    background-image: url(box8_image.jpg);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 15px ;
}

.f1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}

.f2{
    background-color: #222f3d;
    color: white;
    height: 450px;
    display: flex;
    justify-content: space-evenly;

}

ul{
    margin-top: 55px;
}
ul a{
    display: block;
    margin-top: 15px;
    color: #DDDDDD;
}

ul p{
    font-weight: bold;
    font-size: large;
     
}

ul a:hover{
    text-decoration: underline;
}

ul p:hover{
    text-decoration: underline;
}

.f3{
    background-color:  #222f3d;
    color: #DDDDDD;
    height: 80px;
    border-top: 0.1px solid white;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.logo2{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}

.langb{
    height: 34px;
    width: 117px;
    border: 0.2px solid #DDDDDD;
    display: flex;
    align-items: center;
    margin-left: 130px;
    border-radius: 8%;
    
}
.langb i{
    margin-left: 10px;
    margin-right: 15px;
    
}

.cur{
    height: 34px;
    width: 117px;
    border: 0.2px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 8%;
}

.cur i{
    margin-right: 15px;
    margin-left: 5px;
}

.country{
    height: 34px;
    width: 117px;
    border: 0.2px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 8%;
    
}

.country i{
    margin-right: 15px;
}

.f4{
    background-color: #131A22;
    color: white;
    height: 90px;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 30px;
}

.copyr{
      font-size: 0.8rem;
      margin-top: 20px;
}